<%= form_for [refinery, :google_forms_admin, @google_form] do |f| -%>
  <%= render '/refinery/admin/error_messages',
              :object => @google_form,
              :include_object_name => true %>

  
  <div class='field'>
    <%= f.label :name -%>
    <%= f.text_field :name, :class => 'larger widest'  -%>

  </div>
  
  <%= render '/refinery/admin/form_actions', :f => f,
             :continue_editing => false,
             :delete_title => t('delete', :scope => 'refinery.google_forms.admin.google_forms.google_form'),
             :delete_confirmation => t('message', :scope => 'refinery.admin.delete', :title => @google_form.name) %>
<% end -%>
